---
# Print styles
---

// What is this?
// -------------
// This file assembles the design and typography for this book.
// It inherits the variables set in the project's _sass folder.
// You can override those variables by using them here,
// without the `!default` that sets the default value in _sass.
// 
// How to use it
// -------------
// For book-specific styles (i.e. not project defaults):
// 1. Copy variables you want to override from _sass/print-pdf.scss,
//    and remove `!default` to override the project default.
// 2. Add book-specific font imports below.
// 3. Add your own custom CSS or Sass at the bottom.


// -------------
// Set variables
// -------------
$font-text-main: "SourceHanSerifJP";
$font-text-secondary: "GenEiGothicP";
$font-display-main: "GenEiGothicP";
$font-display-secondary: "SourceHanSerifJP";

// Edition suffix: identifies this edition in page-fitting classes (in _print-fitting.scss).
// For instance, a .tighten class in HTML might apply to your bookshop edition, but not the schools edition.
// A suffix '-schools-edn' would mean only tags with that suffix would apply to that edition, e.g. {:.tighten-schools-edn}
// If you're only planning one edition and use default tags ({:.tighten} not {:.tighten-schools-edn}), leave as null.
$edition-suffix: null;
$print-page-setup-lightning-source: true;


// ------------
// Import fonts
// ------------

// Add @font-face rules for fonts you specify here.
// Add the actual font files to `../fonts` or `../../assets/fonts`.
// Use #{$path-to-root-directory} to allow overriding per translation. E.g.:
// `src: url(#{$path-to-root-directory}/assets/fonts/CrimsonPro-Regular.ttf);`
// For snippets, try https://github.com/arthurattwell/font-faces
// By default, a print-font-faces partial will include rules
// for Crimson Pro, Source Sans Pro, and Ubuntu Mono.

@font-face {
    font-family: "SourceHanSerifJP";
    src: url(../fonts/SourceHanSerifJP-ExtraLight.otf);
    font-weight: 200;
}
@font-face {
    font-family: "SourceHanSerifJP";
    src: url(../fonts/SourceHanSerifJP-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "SourceHanSerifJP";
    src: url(../fonts/SourceHanSerifJP-Regular.otf);
    font-weight: normal;  // 400
}
@font-face {
    font-family: "SourceHanSerifJP";
    src: url(../fonts/SourceHanSerifJP-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: "SourceHanSerifJP";
    src: url(../fonts/SourceHanSerifJP-SemiBold.otf);
    font-weight: 600;
}
@font-face {
    font-family: "SourceHanSerifJP";
    src: url(../fonts/SourceHanSerifJP-Bold.otf);
    font-weight: bold;  // 700
}
@font-face {
    font-family: "SourceHanSerifJP";
    src: url(../fonts/SourceHanSerifJP-Heavy.otf);
    font-weight: 900;
}

@font-face {
    font-family: "GenEiGothicP";
    src: url(../fonts/GenEiGothicP-ExtraLight.otf);
    font-weight: 200;
}
@font-face {
    font-family: "GenEiGothicP";
    src: url(../fonts/GenEiGothicP-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "GenEiGothicP";
    src: url(../fonts/GenEiGothicP-SemiLight.otf);
    font-weight: 350;
}
@font-face {
    font-family: "GenEiGothicP";
    src: url(../fonts/GenEiGothicP-Regular.otf);
    font-weight: normal;  // 400
}
@font-face {
    font-family: "GenEiGothicP";
    src: url(../fonts/GenEiGothicP-SemiBold.otf);
    font-weight: 600;
}
@font-face {
    font-family: "GenEiGothicP";
    src: url(../fonts/GenEiGothicP-Bold.otf);
    font-weight: bold;  // 700
}
@font-face {
    font-family: "GenEiGothicP";
    src: url(../fonts/GenEiGothicP-Heavy.otf);
    font-weight: 900;
}

// -------------
// Master theme
// -------------

// Import master styles
@import 'template/print-pdf';


// -------------
// Custom styles
// -------------

// Add any custom Sass or CSS here.

// Use Prince custom justification for CJK text.
body {
        text-align: justify;
        prince-text-justify: prince-cjk;
    }

// Decrease subtitle size so that it will fit on one line.
.titlepage, 
.title-page, 
.halftitle-page, 
.half-title-page {
	.title-page-subtitle, 
	.titlepage-subtitle {
		font-family: $font-display-main;
		font-size: $font-size-default * ($font-size-bigger * 0.75);
		line-height: $line-height-default * ($font-size-bigger * 0.75);
		margin: $line-height-default 0 0 0;
		string-set: book-subtitle content();
	}
}

// Do not use italics for the main text of an epigraph source, since
// CJK typefaces do not typically have an italic form.
.epigraph-source {
    text-indent: 0;
    padding: 0 ($paragraph-indent * 2);
    page-break-before: avoid;
    text-align: right;
    font-style: normal;
    em {
        font-style: italic;
    }
}
